<section class="text-center">
  <h1 class="text-red-500 text-5xl font-bold"><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <h2 class="text-red-400 text-3xl font-bold">with TailwindCSS</h2>
  <p>Peace of mind from prototype to production</p>
</section>
